 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("images/rtrt.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 496px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  letter-spacing: 13px;
  font-size: 1.875rem;
  width: 677px;
  margin: 316px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 409px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    margin-top: 274px;
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1114px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 44px 442px 0 42px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 656px;
  margin: 32px auto 0 42px;
}

.u-section-2 .u-image-1 {
  min-height: 178px;
  background-image: url("images/rtrt.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 1px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 178px;
}

.u-section-2 .u-container-layout-2 {
  padding: 4px 19px 0;
}

.u-section-2 .u-text-2 {
  font-size: 0.875rem;
  line-height: 1.8;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-list-1 {
  width: 719px;
  margin: 42px auto 2px 42px;
}

.u-section-2 .u-repeater-1 {
  min-height: 758px;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 1px 10px 0;
}

.u-section-2 .u-text-4 {
  font-size: 0.875rem;
  line-height: 1.8;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 17px 27px 0 8px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 1px 10px 0;
}

.u-section-2 .u-text-6 {
  font-size: 0.875rem;
  line-height: 1.8;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 17px 27px 0 8px;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 1px 10px 0;
}

.u-section-2 .u-text-8 {
  font-size: 0.875rem;
  line-height: 1.8;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 17px 27px 0 8px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 284px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
    margin-left: 0;
  }

  .u-section-2 .u-list-1 {
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1149px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 206px;
    margin-right: 64px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-list-1 {
    margin-top: -83px;
    margin-bottom: 0;
    margin-left: -35px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1438px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    min-height: 366px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    min-height: 230px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }
} .u-section-3 {
  min-height: 757px;
}

.u-section-3 .u-sheet-1 {
  min-height: 705px;
}

.u-section-3 .u-group-1 {
  min-height: 351px;
  height: auto;
  width: 547px;
  margin: 2px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0 26px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  margin: 0 auto 0 48px;
}

.u-section-3 .u-text-2 {
  font-size: 0.875rem;
  line-height: 1.8;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 20px 23px 0;
}

.u-section-3 .u-group-2 {
  min-height: 632px;
  height: auto;
  width: 547px;
  margin: -353px 23px 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 0.875rem;
  line-height: 1.8;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-group-3 {
  min-height: 266px;
  height: auto;
  width: 547px;
  margin: -266px auto 60px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 26px 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  margin: 0 auto 0 23px;
}

.u-section-3 .u-text-6 {
  font-size: 0.875rem;
  line-height: 1.8;
  letter-spacing: 1px;
  font-weight: 700;
  margin: 20px 23px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-3 .u-group-1 {
    width: 450px;
    height: auto;
  }

  .u-section-3 .u-group-2 {
    min-height: 776px;
    width: 460px;
    height: auto;
  }

  .u-section-3 .u-group-3 {
    width: 450px;
    margin-top: -410px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1506px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 32px;
    margin-left: -16px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-group-3 {
    margin-top: 32px;
    margin-bottom: 29px;
    margin-left: 61px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 474px;
    margin-top: 41px;
    margin-left: auto;
  }

  .u-section-3 .u-group-2 {
    width: 480px;
    margin-top: 10px;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 15px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 23px;
  }

  .u-section-3 .u-group-3 {
    margin-top: 33px;
    margin-left: auto;
  }

  .u-section-3 .u-text-6 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 15px;
    margin-left: 10px;
  }

  .u-section-3 .u-group-2 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-3 .u-group-3 {
    width: 340px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 460px;
}

.u-section-4 .u-line-1 {
  width: 1084px;
  transform-origin: right center 0px;
  margin: 34px 21px 0 auto;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 18px;
  margin-bottom: 5px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-group-1 {
  min-height: 373px;
  height: auto;
  width: 563px;
  margin: 0 0 0 auto;
}

.u-section-4 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  margin: 30px 0 0;
}

.u-section-4 .u-icon-1 {
  font-size: 1.0667em;
  margin-right: 2px;
  vertical-align: 0px;
}

.u-section-4 .u-text-2 {
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  margin: 30px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-4 .u-group-2 {
  min-height: 262px;
  margin-top: 51px;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  margin: 0 auto 0 18px;
}

.u-section-4 .u-form-1 {
  height: 136px;
  margin: 23px 0 0 18px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 390px;
  }

  .u-section-4 .u-line-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 330px;
  }

  .u-section-4 .u-group-1 {
    width: 470px;
    height: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }

  .u-section-4 .u-form-1 {
    width: 350px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-4 .u-line-1 {
    width: 720px;
    margin-top: 0;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 47px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-group-1 {
    width: 360px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-form-1 {
    width: 240px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 801px;
  }

  .u-section-4 .u-line-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 373px;
  }

  .u-section-4 .u-group-1 {
    margin-right: auto;
    margin-left: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-line-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 232px;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  margin: 56px auto 0;
}

.u-section-5 .u-social-icons-1 {
  height: 35px;
  min-height: 16px;
  width: 410px;
  min-width: 316px;
  margin: 27px auto 60px;
}

.u-section-5 .u-icon-1 {
  height: 100%;
}

.u-section-5 .u-icon-2 {
  height: 100%;
}

.u-section-5 .u-icon-3 {
  height: 100%;
}

.u-section-5 .u-icon-4 {
  height: 100%;
}

.u-section-5 .u-icon-5 {
  height: 100%;
}

@media (max-width: 575px) {
  .u-section-5 .u-social-icons-1 {
    width: 411px;
    margin-left: -36px;
    margin-right: -36px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 440px;
}

.u-section-6 .u-group-1 {
  min-height: 352px;
  height: auto;
  width: 1047px;
  margin: 18px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1047px;
  margin: -352px auto 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 352px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 0 330px 0 8px;
}

.u-section-6 .u-text-2 {
  margin: 49px 10px 0;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: 36px auto 0 10px;
}

.u-section-6 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  margin: -42px auto 0 211px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 352px;
}

.u-section-6 .u-container-layout-3 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 408px;
  height: 396px;
  margin: -52px auto 0 -164px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-6 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 405px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 256px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-6 .u-btn-2 {
    margin-top: -45px;
    margin-left: 174px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 405px;
  }

  .u-section-6 .u-image-1 {
    height: 212px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-6 .u-group-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
    margin-bottom: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 436px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 87px;
  }

  .u-section-6 .u-btn-2 {
    margin-top: -46px;
    margin-right: 91px;
    margin-left: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 310px;
  }

  .u-section-6 .u-image-1 {
    height: 162px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 354px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-btn-2 {
    margin-top: -48px;
    margin-right: 109px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 88px;
  }

  .u-section-6 .u-image-1 {
    height: 521px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-6 .u-group-1 {
    min-height: 520px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: -520px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 502px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 38px;
  }

  .u-section-6 .u-btn-2 {
    margin-top: 14px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 55px;
  }

  .u-section-6 .u-image-1 {
    height: 328px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}